{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-3">
                    <div class="card text-white bg-primary" style="max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">
                                <i>Publié le {{ article.creationDate | date('d/m/Y à H:i:s') }}</i> <br>   
                                {{ article.content|slice(0, 75) ~ (article.content|length > 75 ? '...' : '') }}
                            </p>
                            <a href="{{ path('article_show', { 'slug': article.link }) }}" class="btn btn-light">Lire la suite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
